.doctor-area {
  .single-doctors {
    img {
      width: 100%;
    }
    h5 {
      font-size: 20px;
      text-transform: capitalize;
      text-align: center;
      font-weight: 600;
      padding-top: 10px;
      span {
        color: $blue;
        text-transform: uppercase;
        font-size: 16px;
        padding: 10px 0;
        display: block;
      }
    }
    p {
      text-align: center;
    }
    a {
      display: inline-block;
      margin: 16px 53px;
      @include max-xs {
        margin: 16px 30%;
      }
      @include min-sm {
        margin: 16px 46px;
      }
      @include min-lg {
        margin: 16px 35px;
      }
    }
  }
}
